a {
    color: black;
    text-decoration: none;
}

a:link {
    /* color: #0000FF; /* Unvisited link */
}

a:visited {
    /* color: #800080; /* Visited link */
}

a:hover {
    background-color: lightgrey;
}

a:active {
    /* color: #FF0000; /* Active link */
}

.team-member {
      height: 75px;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: black;
      margin: 15px;
}

.team-member:hover {
    background-color: lightgrey;
}

section {
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: black;
      margin: 15px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.right {
    margin-left: auto;
    margin-right: 50px;
}
